__pycache__/
test.ipynb
nohup.out
*.png
pickled_data
*.txt
*.html
*.mp4
nexullance/*.ipynb
# nexullance/Cut_Euler_uniform.py
archive/
LF_archieve/
bin/

!nexullance/Convergent_Nexullance_routing.ipynb
