__pycache__/
test.ipynb
nohup.out
*.png
pickled_data
*.txt
*.html
*.mp4
nexullance/*.ipynb
archive/
LF_archive/
nexullance/bin
# *.csv
*.graphml
*.austin
Nexullance_journal_data_gen

# white listing
!nexullance/*.ipynb
!test_Nexullance_MMR/*.csv